<div>
<p>@Html.ActionLink("Home", "Index", "Admin")</p>

<p>@Html.ActionLink("Inventory", "Index", "Item")</p>

<p>@Html.ActionLink("Reservations", "Index", "Reservation")</p>

<p>@Html.ActionLink("Members", "Index", "Member")</p>


</div>