@model EquipmentManager.Domain.Entities.Item


<div class ="item">
    <br /><br />
<table>
 <tr>
  <td>@if(Model.ImageData != null)
      {
          <div style="float:left;margin-right:20px">
              <img width="75" height="75" src="@Url.Action("GetImage", "Item", new { Model.ItemID })" />
          </div>
  }
  </td>
  <td>@Model.Name</td>
  <td>@Model.Description</td> 
</tr>
</table> 
    <br />
    <hr align="left" width ="300px"/>
</div>