

@{
    ViewBag.Title = "Home";
}

<div class="welcome">
<br />
<h3>Welcome to our online Equipment Management System</h3>
    <br />
    <img src="~/Content/images/ipad-1.jpg" />
    <br />
<p>Feel free to browse the inventory of available items for checkout.</p>

<p>If you would like to reserve items for pickup, please login with your account information or click the register link to create a new account.</p>
</div>