

@{
    ViewBag.Title = "Home";
    //Layout = "~/Views/Shared/_MemberLayout.cshtml";
    
}

<div class="welcome">
<br />
<h2>Welcome @Session["membername"]</h2>
    <br />

    <img src="~/Content/images/ipad-1.jpg" />
    <br />
<p>Since you have logged in, you have the ability to reserve some items for pickup.</p>

<p>You can browse our selection by clicking the Browse Available Items link to the right.</p>
</div>