@{
    ViewBag.Title = "Deletion Confirmation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Member has been deleted</h2>
<br />
@Html.ActionLink("Return to Member List", "ListMembers", "Member")