@{
    ViewBag.Title = "Admin - Members Main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<br />
<h2>@Html.ActionLink("Manage Members", "ListMembers", "Member")</h2>

@*<h2>@Html.ActionLink("Add new Member", "CreateMember", "Member")</h2>*@