@model EquipmentManager.Domain.Entities.Member

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_EMLayout.cshtml";
}

<h2>This feature is under construction</h2>

<img src="~/Content/images/UnderConstruction.png" width="630" height="400"/>

@Html.ActionLink("Return Home", "Index", "Home");
