@{
    ViewBag.Title = "Admin - Inventory Main";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<br />

<h2>@Html.ActionLink("Manage Items", "ListItems", "Item")</h2>

<h2>@Html.ActionLink("List Available Items", "AvailableItems", "Item")</h2>

@*<h2>@Html.ActionLink("List all Items by Category", "GetItemsByCategory", "Item")</h2>

<h2>@Html.ActionLink("Add new Item", "AddItem", "Item")</h2>*@