@{
    ViewBag.Title = "Confirm Reservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<p>Your reservation has been confirmed.  Please allow one hour to process your reservation.</p>

<p>We hope to see you soon.</p>

@Html.ActionLink("Return to Browsing", "BrowseAvailableItems", "Item")

