@model EquipmentManager.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin Access: Login";
}

<h2>Login</h2>

<p>You must login for administrative access</p>
@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
        <p><input type="submit" value ="Log in" /></p>
}